.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: tomato;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.completed {
  text-decoration: line-through;
  color: tomato !important;
}
h1 {
  color: #d2c6a7;
}
.task-input {
}
::placeholder {
  color: #a5e5d5;
}
.add-button {
  background: #b8d5cd;
  color: #006a4e;
  border: none;
  border-radius: 7px;
  padding: 7px 7px 7px 7px;
  margin-left: 1em;
  margin-bottom: 1em;
}
.list-item {
  list-style: none;
}
.delete-task-button {
  background: none;
  border: none;
  color: red;
}
.edit-task-button {
  background: none;
  border: none;
  color: blue;
}
.complete-task-button {
  background: none;
  border: none;
  color: green;
}
